{% load static %}
{% load user_info %}

<div class="navbar">
    <ul class="navbar-left">
        <li>
            <a href="{% url 'dashboard' %}">
                <img class="logo" src="{% static 'logo-nadejda.bmp' %}" alt="logo" width="120" height="40">
            </a>
        </li>
        <li>
            <a class="link-nav" href="{% url 'create_worker' %}">
                <span>Нов служител</span>
            </a>
        </li>
        <li>
            <a class="link-nav" href="{% url 'create_month' %}">
                <span>Нов месец</span>
            </a>
        </li>
                <li>
            <a class="link-nav" href="{% url 'list_vacation' %}">
                <span>Отпуски</span>
            </a>
        </li>
    </ul>
    <ul class="navbar-center">
        <li>
            {% if current_month %}
                <a class="link-nav" href="{% url 'data' 0 %}">
                    <span>Месец: {{ current_month.get_month_display }}</span>
                    <span>{{ current_month.year }} г.</span>
                </a>
            {% else %}
                <span>Няма активен месец</span>
            {% endif %}
        </li>
    </ul>
    <ul class="navbar-right">
        <li>
            <a class="link-nav" href="{% url 'update_worker' 0 %}">
                <span>Служители</span>
            </a>
        </li>
        {% if user.is_staff %}
            <li>
                <a class="link-nav" href="{% url 'list_data' %}">
                    <span>Текущ месец</span>
                </a>
            </li>
        {% endif %}
        {% if user.is_authenticated %}
            <li>
                <a class="link-nav" href="{% url 'profile_details' user.pk %}">
                    <span>{{ user.username }}</span>
                </a>
            </li>
            <li>
                <form id = "logout-form" action="{% url 'logout' %}" method="post">
                    {% csrf_token %}
                </form>
                <a class="link-nav" href="#" onclick="event.preventDefault(); document.getElementById('logout-form').submit();">
                    <span>Изход</span>
                </a>
            </li>
        {% else %}
            <li>
                <a class="link-nav" href="{% url 'login' %}">Вход</a>
            </li>
        {% endif %}
    </ul>
</div>

