{% load custom_filters %}
{% load static %}

<div class="record-container">
    <table class="table table-striped table-hover table-sm" border="2">
        <tr class="text-center">
            <th>id</th>
            <th>Дата</th>
            <th>Склад</th>
            <th>Фирма</th>
            <th>Вид поръчка</th>
            <th>Сума</th>
            <th>Баланс</th>
            <th>Поръчка</th>
            <th>Забележка</th>
        </tr>
        {% for record in report %}
        <tr class="text-center">
            <th scope="row">
                {% if record.order|startswith:"C" %}
                   {{record.id}}
                {% else %}            
                    <a href="{% url 'record_update' record.id %}">
                      {{record.id}}
                    </a>
                {% endif %}
            </th>
            <td>{{record.created_at}}</td>
            <td>{{record.get_warehouse_display}}</td>
            <td>{{record.partner.name}}</td>
            <td>{{record.get_order_type_display}}</td>
            <td>{{record.amount}}</td>
            <td>{{record.balance}}</td>
            <td>
                {% if record.order %}
                    {% if record.order|startswith:"C" %}
                        {% if record.amount != 0 or record.partner.name == 'Клиент' %}
                            <a href='{% url 'glass_details' record.id %}'>
                                {{record.order}}
                            </a>
                        {% else %}    
                            {{record.order}}
                        {% endif %}
                    {% else %}
                        <a href='{% url 'p_glass_create' record.pk record.note %}'>
                            {{record.order}}
                        </a>
                    {% endif %}
                {% endif %}
            </td>
            <td>
                {% if record.note != 'None'  %}
                   {% if record.note is not None %}
                       {{record.note}}
                    {% endif %}
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </table>
</div>




