{% extends 'common/index.html' %}
{% load static %}

{% block content %}
    <div>
        <h5>
            <span>Месец: {{ current_month.get_month_display }}</span>
            <span>{{ current_month.year }} г.</span>
            <span>- {{ current_month.work_days}} раб. дни</span>
        </h5>
    </div>
    <div class="record-container">
        <div>
            <h5>
                <span>Месец: {{ current_month.get_month_display }}</span>
                <span>{{ current_month.year }} г.</span>
                <span>- {{ current_month.work_days}} раб. дни</span>
            </h5>
        </div>
    </div>
{% endblock %}







