{% extends 'common/index.html' %}

{% block content %}
    <div class="record-container">
        <div>
            <h5>
                <span>Рекапитулация</span>
                <span>- {{ current_month.get_month_display }}</span>
                <span>{{ current_month.year }} г.</span>
            </h5>
            <table class="table-list">
                <tr class="table-header text-center">
                    <th>Група</th>
                    <th>Сума</th>
                </tr>
                <tr class="text-center">
                    <td>Антон</td>
                    <td>{{ anton_rest|floatformat:2 }}</td>
                </tr>
                <tr class="text-center">
                    <td>Всички останали</td>
                    <td>{{ other_rest|floatformat:2 }}</td>
                </tr>
                <tr class="text-center">
                    <td><strong>Общо</strong></td>
                    <td><strong>{{ total_rest|floatformat:2 }}</strong></td>
                </tr>
            </table>
            <a class="buttons" href="{% url 'list_data' %}">
                <span>Назад към списъка</span>
            </a>
        </div>
    </div>
{% endblock %}
