{% extends 'common/index.html' %}
{% load static %}

{% block content %}

    <section class="form-group">
        <div class="text-center pt-3">
            <h3>{{ profile.username }}</h3>
            <h4 class="text-center pt-5">Детайли за потребител</h4>
            <hr>
        </div>
        <span class="info">
            First name: {{ profile.first_name }}
        </span>
        <span class="info">
            Last name: {{ profile.last_name }}
        </span>
        <span class="info">
            Email: {{ profile.email }}
        </span>
        <article class="warning">
            {% if request.user == profile %}
                <a href="{% url 'profile_update' request.user.pk %}">
                    <button class="buttons">Редактирай</button>
                </a>
            {% endif %}    
            {% if request.user == profile %}
                <a href="{% url 'profile_delete' request.user.pk %}">
                    <button class="buttons">Изтрий</button>
                </a>
            {% endif %}
        </article>
    </section>
{% endblock %}