{% extends 'common/create.html' %}
{% load static %}

{% block content %}
    <div class="record-container">
        <div>
            <h5>
                <span>Месец: {{ current_month.get_month_display }}</span>
                <span>{{ current_month.year }} г.</span>
                <span>- {{ current_month.work_days}} раб. дни</span>
            </h5>
            <table class="table-list">
                <tr class="text-center">
                    <th>Име</th>
                    <th>Цех</th>
                    <th>Запл.</th>
                    <th>Бонус 1</th>
                    <th>Бонус 2</th>
                    <th>Всичко</th>
                    <th>Израб. час.</th>
                    <th>Непл. час.</th>
                    <th>Зaкр. час.</th>
                    <th>Дни</th>
                    <th>Сума</th>
                    <th>Болн. НОИ</th>
                    <th>Болн. фирма</th>
                    <th>Болн. сума</th>
                    <th>Отп. ред.</th>
                    <th>Отп. без молба</th>
                    <th>Отп. сума</th>
                    <th>Изпл. отп.</th>
                    <th>Общо запл.</th>
                    <th>Непл. час. лв</th>
                    <th>Банка</th>
                    <th>Аванс Корек.</th>
                    <th>GSM</th>
                    <th>Ваучер</th>
                    <th>Ост.</th>
                </tr>
                {% for worker in workers %}
                    <tr class="text-center">
                        <td>{{ worker.worker.name}}</td>
                        <td>{{ worker.worker.get_workshop_display }}</td>
                        <td>{{ worker.worker.salary }}</td>
                        <td>{{ worker.worker.bonus_one }}</td>
                        <td>{{ worker.worker.bonus_two }}</td>
                        <td>
                            <a href="{% url 'update_worker' worker.index %}">
                                {{ worker.total_salary }}
                            </a>
                        </td>
                        <td>{{ worker.work_hours }}</td>
                        <td>{{ worker.unpaid_hours }}</td>
                        <td>{{ worker.equivalent_hours }}</td>
                        <td>{{ worker.equivalent_days|floatformat:0 }}</td>
                        <td>{{ worker.salary_earned|floatformat:2 }}</td>
                        <td>{{ worker.sick_days_noi }}</td>
                        <td>{{ worker.sick_days_firm }}</td>
                        <td>{{ worker.sick_days_sum }}</td>
                        <td>{{ worker.vacation_used|floatformat:0 }}</td>
                        <td>{{ worker.vacation_calc|floatformat:0 }}</td>
                        <td>{{ worker.pay_for_vacation }}</td>
                        <td>{{ worker.vacation_paid }}</td>
                        <td>{{ worker.total }}</td>
                        <td>{{ worker.unpaid_hours_euro|floatformat:2 }}</td>
                        <td>{{ worker.paid_by_bank }}</td>
                        <td>{{ worker.paid_by_cash }}</td>
                        <td>{{ worker.mobile }}</td>
                        <td>{{ worker.voucher }}</td>
                        <td>{{ worker.rest|floatformat:2 }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}







