{% extends 'common/create.html' %}
{% load static %}

{% block content %}
    <div class="record-container">
        <div class="worker-table-panel">
            <h4>Служители</h4>
            <div class="table-scroll-container">
                <table>
                    <tr class="table-header text-center">
                        <th>Име</th>
                        <th>Цех</th>
                        {% if user.is_staff %}
                            <th>Бонус шеф</th>
                            <th>Бонус постоянен</th>
                            <th>Бонус променлив</th>
                            <th>Общо</th>
                        {% endif %}
                        <th>Постъпил на работа</th>
                    </tr>
                    {% for worker in worker_list %}
                        <tr class="{% if worker.name == current_worker.name %}highlight{% endif %}">
                            <td>
                                <a href="{% url 'update_worker' forloop.counter0 %}">
                                    {{worker.name}}
                                </a>
                            </td>
                            <td>{{worker.get_workshop_display}}</td>
                            {% if user.is_staff %}
                                <td>{{worker.bonus_boss}}</td>
                                <td>{{worker.bonus_constant}}</td>
                                <td>{{worker.bonus_variable}}</td>
                                <td>{{worker.total_salary}}</td>
                            {% endif %}
                            <td>{{worker.start_date}}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
        <div class="worker-form-panel">
            <form class="form-group mb-3" method="post" id="worker-update-form">
                <h4>{{ current_worker.name }}</h4>
                <h5>Цех: {{ current_worker.get_workshop_display }}</h5>
                <h5>Постъпил: {{ current_worker.start_date }}</h5>
                <hr>
                {% csrf_token %}
                {% for field in form %}
                    <div class="mb-4">
                        {{ field.label }}
                        {{ field }}
                    </div>
                {% endfor %}
                <button name="Previous" class = "buttons" type="submit">Предишен</button>
                <button name="Next" class = "buttons" type="submit" id="next-button">Следващ</button>
                <button name="OK" class = "buttons" type="submit">OK</button>
            </form>
        </div>
    </div>

    <script src="{% static 'scripts/worker_update_enter_next.js' %}"></script>
{% endblock %}







